<h1>Burgers!</h1>

<div class="burgerblock">
    <div class="column1">
        <h2>Burgers to eat!</h2>

        <ul>
            {{#each burgers}}

            {{#unless devoured}}
            <p>
                {{this.id}}. {{this.burger_name}} <button class="devoure" data-id="{{this.id}}">Devoure!</button>
            </p>

            {{/unless}}

            {{/each}}
        </ul>
    </div>


    <div class="column2">
        <h2>Burgers that have been eaten!</h2>

        <ul>
            {{#each burgers}}
            {{#if devoured}}

            <p>
                {{this.id}}. {{this.burger_name}}
            </p>


            {{/if}}
            {{/each}}
        </ul>
    </div>
</div>
    <h2>Add a Burger</h2>
    <form class="create-form">

        <div class="form-group">
            <label for="burg">Burgers Name:</label>
            <input type="text" id="burg" name="name">
        </div>


        <button class="submit">Add Burgers</button>
    </form>

    <div class="column3">
        <div class="burger">
            <div class="bun bottom"></div>
            <div class="patty"></div>
            <div class="cheesey">
                <div class="cheese"></div>
            </div>
            <div class="bun top"></div>
        </div>
    </div>
